# Ignora archivos del sistema Mac 
.DS_store

# Ignora archivos del tipo
*.cache
*.pdb
*.dll
*.CopyComplete
*.editorconfig
*.so
*.exe
*.dylib

#Ignora archivos debug de ASP NET

Microservices/Services.api.Library/bin/Debug/*
Microservices/Services.api.Library/obj/Debug/*
